@charset "UTF-8";


#wrap {
    width: 80%;
    margin: 30px auto;
    font-size: 2em;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    /* border: 1px solid #000; */
}


header {
    height: 100px;
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    background-color: rgba(153, 205, 50, 0.363);
}

section>.left {
    width: 25%;
    height: 400px;
}

section>.left>.lnb {
    height: 250px;
    margin-bottom: 10px;
    background-color: blue;
}

section>.left>.ad {
    height: 140px;
    background-color: yellowgreen;
}

section>.cont {
    width: 74%;
    background-color: orange;
}